<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.handlers">
      <handler commandId="application.deploy.command" class="com.phexum.eclipse.plugin.handler.DeployApplicationHandler" />
      <handler commandId="application.undeploy.command" class="com.phexum.eclipse.plugin.handler.UndeployApplicationHandler" />
      <handler commandId="application.settings.command" class="com.phexum.eclipse.plugin.handler.SettingsHandler" />
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key commandId="application.deploy.command" contextId="org.eclipse.ui.contexts.window" sequence="M1+6" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any">
         <menu label="Phexum" mnemonic="M" id="menus.phexumMenu">
            <command  label="Deploy Application" commandId="application.deploy.command" />
            <command  label="Undeploy Application" commandId="application.undeploy.command"  />
         </menu>
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="toolbars.phexumRibbon">
            <command commandId="application.settings.command" icon="icons/icon16.gif" tooltip="Phexum Plugin - Settings" id="toolbars.settingsCommand" />
         </toolbar>
      </menuContribution>
   </extension>
</plugin>